<div class="login-container">
  <div class="logo-container">
      <img style="width: 400px;" src="./img/ra.png" />
  </div>
  <form class="login-form" onsubmit="return false;">
      <select class="input-field" required>
          <option disabled selected>Select a user</option>
          <option value="BRB">BRB</option>
          <option value="HAH">HAH</option>
          <option value="SSC">SSC</option>
      </select>
      <button type="submit" class="login-button">Login</button>
  </form>
</div>